<div class="container">
  <div class="container-fluid">
    <div class="row-fluid">
      <%= render 'left_section', :tasks => @tasks, :task_type => @task_type %>
      <%= render 'right_section', :role_tasks => @role_tasks, :role_task_type => @role_task_type %>
    </div>
  </div>
</div>
