<section class="deals clearfix">
  <div class="">
  	<a rel = "nofollow" href="<%= fm["slot_a_0"]["href"] %>"><%= image_tag fm["slot_img_0"]["src"], :width => "150px", :height => "130px" %></a>
    <a title="" href="<%= fm['slot_a_1']['href'] %>" class="lnk-title" rel="nofollow"><%= fm['slot_a_1'][I18n.locale.to_s] %></a>
  </div>
</section>