<div class="clear"></div>
<section class="recomends">
  <h3 class="title">What others like</h3>
  <div class="bd clearfix">
    <a class="lnk-prev ">Preview</a>
    <div class="slide-window" style="visibility: visible;  width: 720px;">
      <ul class="clearfix " style="left:-144px; position: relative; z-index: 1; width: 3696px; ">
        <li>
          <div class="g-pic"> <a href="#"><img src="images/default160x160.jpg" alt=""></a> </div>
          <h5><a href="#">450SE 450V2 450V3 Plastic and Meta and Meta and Meta...</a></h5>
          <p><strong class="price">US $33.98</strong> </p>
        </li>
        <li>
          <div class="g-pic"> <a href="#"><img src="images/default160x160.jpg" alt=""></a> </div>
          <h5><a href="#">450SE 450V2 450V3 Plastic and Meta and Meta and Meta...</a></h5>
          <p><strong class="price">US $33.98</strong> </p>
        </li>
        <li>
          <div class="g-pic"> <a href="#"><img src="images/default160x160.jpg" alt=""></a> </div>
          <h5><a href="#">450SE 450V2 450V3 Plastic and Meta and Meta and Meta...</a></h5>
          <p><strong class="price">US $33.98</strong> </p>
        </li>
        <li>
          <div class="g-pic"> <a href="#"><img src="images/default160x160.jpg" alt=""></a> </div>
          <h5><a href="#">450SE 450V2 450V3 Plastic and Meta and Meta and Meta...</a></h5>
          <p><strong class="price">US $33.98</strong> </p>
        </li>
        <li>
        <div class="g-pic"> <a href="#"><img src="images/default160x160.jpg" alt=""></a> </div>
        <h5><a href="#">450SE 450V2 450V3 Plastic and Meta and Meta and Meta...</a></h5>
        <p><strong class="price">US $33.98</strong> </p>
        </li>
        <li>
          <div class="g-pic"> <a href="#"><img src="images/default160x160.jpg" alt=""></a> </div>
          <h5><a href="#">450SE 450V2 450V3 Plastic and Meta and Meta and Meta...</a></h5>
          <p><strong class="price">US $33.98</strong> </p>
        </li>
        <li>
          <div class="g-pic"> <a href="#"><img src="images/default160x160.jpg" alt=""></a> </div>
          <h5><a href="#">450SE 450V2 450V3 Plastic and Meta and Meta and Meta...</a></h5>
          <p><strong class="price">US $33.98</strong> </p>
        </li>
      </ul>
    </div>
    <a class="lnk-next lnk-next-disabled">Next</a>
  </div>
</section>