<% content_for(:title){ t_views('.affiliate_title') } %>
<% content_for(:keywords){ t_views('.affiliate_keyword') } %>
<% content_for(:description){ t_views('.affiliate_description')} %>

<div class="lianmeng clearfix">
  <div class="banner">
    <h1>Make Money With BuyChina</h1>
    <p>Team up with the most reliable B2C marketplace in China and make easy money. Our unique affiliate program helps you get up to 15% commission with the least trouble and little work by you. We charge no fees. Join us today and start making easy money.</p>
  </div>
  <div class="btn-p"></div>
  <div class="content-box">
    <div class="box clear">
      <div class="setup">
        <h2>How to use BuyChina Affiliate?</h2>
        <div class="dispute-process clearfix">
          <div class="step step-1">
            <div class="icon">Step 1: Register</div>
            <p><a href="/signup" target="_blank">Register BuyChina</a>. Our system will generate <a href="/affiliate_faq#faq_question_5">a unique promotion code</a> for each user.<p>
            <p>
            <img src="images/setup1.gif"  alt="setup 1" />
            </p>
          </div>
          <div class="step step-2">
            <div class="icon">Step 2: Share products</div>
            <p>Each of our product pages has a share button. You could share products directly with your friends.</p>
            <p>
            <img src="images/setup2.gif"  alt="setup 2" />
            </p>
          </div>
          <div class="step step-3">
            <div class="icon">Step 3:Commission Settlement</div>
            <p>When your friends make their payment successfully, you would get certain amount of commission, form 5% to 15%.</p>
            <p><img src="images/setup3.gif" alt="setup 3" /></p>
          </div>
        </div>
      </div>
      <hr>
      <div class="ex">
        <h3>“If you generate $330.45 worth of sales via our <a href="http://www.buychina.com/items/the-miui-millet-m1s-authentic-licensed-android-smart-with-machine-printed-invoice-unprofor-tuvstlskpng" target="_blank">referral link</a>, you will get $16.52 from your affiliate network (5% x $330.45.) The higher worth of sales you generate, the higher commission percentage you will get. The new commission percentage will show on your network till the last day of the month.”</h3>
        <p>Now, What are you waiting for? Join the BuyChina Affiliate Program now.</p>
        <p><span class="ceo"> — Bernard, CEO of BuyChina.com</span></p>
      </div>
      <hr>
      <div class="left">
        <h2>Terms and rules</h2>
        <ul>
          <li>Register to be a user of Buychina and apply to open Buychina affiliate program. Our system will produce a unique referral link automatically for each product. You will get commission if a successful transaction generates via the link.</li>
          <li>You will get as high as 15% commission if a transaction successfully finishes via your referral links.</li>
          <li>For sharing the referral link, it's necessary for you to have an active website, blog, Twitter account or Facebook account.</li>
          <li>We would track the sale via cookie (Default web browser option for most users.)</li>
          <li>You account will be frozen if you violate terms of Buychina affiliate program.</li>
          <li>We will clear all of your commission and terminate your membership if you buy through the referral link</li>
          <li>We reserve all the rights to revise all these terms.</li>
        </ul>
      </div>
      <div class="right">
        <h2>FAQ</h2>
        <ol>
          <li><a href="/affiliate_faq#faq_question_1">What is Buychina affiliate program?</a></li>
          <li><a href="/affiliate_faq#faq_question_2">Why join Buychina affiliate program?</a></li>
          <li><a href="/affiliate_faq#faq_question_3">What conditions you need to have?</a>
          <li><a href="/affiliate_faq#faq_question_4">How to promote?</a></li>
          <li><a href="/affiliate_faq#faq_question_5">How to added the affiliate code in the URL?</a></li>
          <li><a href="/affiliate_faq#faq_question_6">When do you get your commission and how do we pay?</a></li>
        </ol>
      </div>
    </div>
  </div>
</div>

