<div class="category">
  <div class="help-article">
    <h2>BuyChina Office</h2>
    <div>
      <iframe width="730" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://ditu.google.cn/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Room+809,+Block+B,+No.977+Shangfeng+Road,+Pudong+New+Area,+Shanghai&amp;sll=31.230393,121.473704&amp;sspn=1.672167,2.90863&amp;brcurrent=3,0x35ad891e7550de8f:0x97d99f834d202c05,0,0x35ad8c73cd3952c7:0xbb190e9364c4e592%3B5,0,0&amp;ie=UTF8&amp;hq=&amp;hnear=Shang+Feng+Lu,+Pu+Dong+Xin+Qu,+Shanghai&amp;t=m&amp;z=14&amp;iwloc=A&amp;ll=31.237857,121.664255&amp;output=embed"></iframe><br /><br />                    
    </div>
    <table class="table table-striped">
      <tr>
        <td><strong>China Office Address:</strong></td>
        <td>Room 809, Block B, No.977 Shangfeng Road, Pudong New Area, Shanghai, China</td>
      </tr>
      <tr>
        <td><strong>Telephone:</strong></td>
        <td>+86-21-58515042</td>
      </tr>
      <tr>
        <td><strong>E-mail: </strong></td>
        <td>support@buychina.com</td>
      </tr>
      <tr>
        <td><strong>Office Hours:</strong></td>
        <td>Mon-Sun 9:00am to 6:00pm (GMT +08:00)</td>
      </tr>   
    </table>
    <h2>Contact Us</h2>
    <p>For general information, such as buying process, payment methods, delivery options or dispute process, please contact us at <a href="mailto:support@buychina.com">support@buychina.com.</a> </p>                           
  </div>
</div>
