<div class="clearfix error-bd" >
  <div class="error-notice-text">
    <div class="error-notice-text-wrap ">
      <div class="error-tt">Oops!</div>
      <div class="error-notice-hd">Sorry,the page you requested can not be found!</div>
      <div class="error-notice-advice"> </span> <a href="/">Back to BuyChina HomePage now </a> </div>
    </div>
  </div>
  <div class="ant-emotion"><%= image_tag '404-1.gif', :alt => "Crying" %></div>
</div>
<%= render :partial => 'shared/timeout' %>
