<section class="box channel-right channel-zone" id = "front_module_small_1" data-content="<%= fm.content if fm.present? %>" data-id="<%= fm.id if fm.present? %>">
  <h3 class="title" id = "slot_h3">名字</h3>
  <div class="bd  cc-img-top feature">
    <div class="cc-img"><a rel="nofollow" href="#" id = "slot_a_0" target="_blank"><%= image_tag "front_modules/150_130_tmp.png", :id => "slot_img_0" %></a></div>
    <ul class="cc-cate">
      <li><a href="#" rel="nofollow" id = "slot_a_1" target="_blank">待输入文本</a></li>
      <li><span  class="price" id = "slot_span_0">US $价格</span></li>
    </ul>
    <div class="cc-more"><a rel="nofollow" href="#" id = "slot_a_2" target="_blank">View more</a></div>
  </div>
</section>