<section class="deals clearfix" id="front_module_deals_1" data-content="<%= fm.content if fm.present? %>" data-id="<%= fm.id if fm.present? %>">
  <div class="">
  	<a href="" id="slot_a_0"><%= image_tag "front_modules/150_130_tmp.png", :id => "slot_img_0", :width => "150px", :height => "130px" %></a>
    <a title="" href="" class="lnk-title" rel="nofollow" id="slot_a_1">未编辑</a>
  </div>
</section>