<div id='advance_options' style='margin-top: 10px; display:none'>
<div class="control-group">
  <div class="control-label"><label><strong>title</strong></label></div>
  <div class="controls">
    <%= f.text_field "seo_title", :class => 'input-xxlarge' %>
  </div>
</div>
<div class="control-group">
  <div class="control-label"><label><strong>keywords</strong></label></div>
  <div class="controls">
    <%= f.text_field "keywords", :class => 'input-xxlarge' %>
  </div>
</div>
<div class="control-group">
  <div class="control-label"><label><strong>description</strong></label></div>
  <div class="controls">
    <%= f.text_area "description", :rows => 10, :class => 'input-xxlarge' %>
  </div>
</div>
</div>
