<div class="control-group " id="state">
  <label class="control-label">* <%= t_views '.state' %></label>
  <div class="controls">
    <%= text_field(:address, :province, :value => province, :class => "required") %>
  </div>
</div>
