<% title "Changed Password" %>
<div class="location"><a href="/"><%= t 'home' %></a> &gt; Changed Password <%#= t('forgot_password')%></div>
<div class="alert alert-success">
  Your password has been changed. <a href="<%= new_user_session_path %>" id="links">Click here</a> to Home.
</div>
