<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

<h2 style="color:#FF7600;font-size:16px;">How to Reset Your BuyChina Password</h2>
<h3 style="font-size: 14px; line-height: 16px; color: #0F2746;">Dear <%= @resource.email %>,</h3>
We have received your request on a new password to sign in to your BuyChina account. To get a new password, please click the link below and reset:
<br />
<%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %>
<br /><br />
If you didn't request this, please ignore this email.
<br /><br />
Your password won't change until you access the link above and create a new one.
