<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <link rel="stylesheet" type="text/css" href="mail.css">
</head>
<body>
<table cellspacing="0" cellpadding="0" border="0" class="BC_mail">
    <tbody>
    <tr>
     <td style="border-collapse: collapse;">
        <table cellspacing="0" cellpadding="0" border="0" align="center" class="BC_top">
            <tbody>
                <tr>
                    <td style="border-collapse: collapse;">
                        <img style="outline: none;text-decoration: none;-ms-interpolation-mode: bicubic;" src="http://www.buychina.com/images/logo.png">
                    </td>
                </tr>
            </tbody>
        </table>
      </td>
     </tr>
     <tr>
      <td style="border-collapse: collapse;">
        <table cellspacing="0" cellpadding="0" border="0" align="center">
            <tbody>
            <tr height="3">
                <td width="160" bgcolor="#31afe7" style="border-collapse: collapse;"></td>
                <td width="160" bgcolor="#e6a229" style="border-collapse: collapse;"></td>
                <td width="160" bgcolor="#82c562" style="border-collapse: collapse;"></td>
                <td width="160" bgcolor="#31afe7" style="border-collapse: collapse;"></td>
            </tr>
            </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td style="border-collapse: collapse;">
        <table cellspacing="0" cellpadding="0" border="0" align="center" class="BC_connet">
          <tbody>
          <tr>
            <td width="100%" valign="top" class="BC_body">
              <div style="padding: 0 35px;" class="body-wrapper">
                  <%= yield %>
              </div>
            </td>
          </tr>
        </tbody>
        </table>
      </td>
    </tr>
    <tr>
      <td style="border-collapse: collapse;">
        <table cellspacing="0" cellpadding="0" border="0" align="center" class="BC_footer">
          <tbody><tr>
            <td width="100%" valign="top" style="border-collapse: collapse;">
              Copyright 2012 &copy;BuyChina - All Rights Reserved
            </td>
          </tr>
          <tr>
            <td width="100%" valign="top" style="border-collapse: collapse;">
              Room 809, Block B, No.977 Shangfeng Road, Pudong New Area, Shanghai, China 201203<br />
              Hotline:+86-21-5851-5042 <a style="color:#0084B4" href="mailto:support@buychina.com" target="_blank">support@buy<wbr></wbr>china.com</a>
            </td>
          </tr>
        </tbody></table>
      </td>
    </tr>
  </tbody></table>
</body>
</html>
